apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dissector-models
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 10Gi
  # storageClassName: your-storage-class

